/* Algemene pagina */
body {
    margin: 0;
    padding: 0;
    background-color: #9c1f1f; /* donker rood */
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: #f5a300;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: black;
}

/* GECENTREERDE CONTENT */
.container {
    width: 600px;
    margin: 40px auto; /* dit centreert */
}

/* Blog post */
.post {
    background-color: #f6c1c8; /* licht roze */
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid white;
    box-sizing: border-box;
}

.post:last-child {
    margin-bottom: 0;
}

/* Datum */
.date {
    font-size: 12px;
    color: #333;
}

/* Titel */
.post h2 {
    margin: 5px 0;
}

.post h2 a {
    color: #f5a300;
    text-decoration: none;
}

.post h2 a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #f5a300;
    height: 50px;
    margin-top: 40px;
}