{% extends 'blog/base.html' %}

    {% block inhoud %}
        <div class="container">
            {% for post in posts %}
                <article class="post">
                    <time class="date">
                        {{ post.published_date }}
                    </time>
                    <a href="{% url 'post_inhoud' pk=post.pk %}">{{ post.title }}</a>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        </div>
    {% endblock %}